body {
	background: ;
	font-family: sans-serif;
	font-size: 16px;
}

.wrapper h1 {
	background: ;
	color: ;
	font-family: sans-serif;
	font-size: ;

}

.wrapper nav {
	background-color: #45ff44;
	font-color: #ffffff;
	font-family: sans-serif;
	font-size: ;

}

.wrapper nav a{

}

.wrapper nav a:hover {
	
}

h1 {
	font-family: sans-serif;
	font-size: 40px;
}

h2 {
	font-family: sans-serif;
	font-size: 30px;
}

h3 {
	font-family: sans-serif;
	font-size: 20px;
}

ul {

}

.boxtype {
	font-family: sans-serif;
	font-size: ;
	border: 5px solid black;
	padding: 10px; 
	margin: 10px;
}

