@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

body { 
	background: #BBD3FF;
	font-family: Roboto; sans-serif;
	font-size: 20px;
}

p {
	font-family: Roboto; sans-serif;
	font-size: 20px;
}

ul {

}

li {
	font-family: Roboto; sans-serif;
	font-size: 18px;
}

img {

}

h1 {
	color: #000000;
	font-family: Anton; sans-serif;
	font-size: 65px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;

}

#mainMenu {
	color: #000000;
	font-family: Anton; sans-serif;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

#mainMenu a{
	color: #000000
}


#mainMenu a:hover {
	background-color: #FF7477;
	color: #ffffff;
}

#slogan {
		font-family: Anton; sans-serif;
		font-size: 30px;
		font-weight: bold;
}


