@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

body { 
	background: rgba(116,155,204, .5);
	font-family: Roboto; sans-serif;
	font-size: 20px;
}

.wrapper h1 {
	background: rgb(116,155,204);
	color: #000000;
	font-family: Anton; sans-serif;
	font-size: 65px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	border: 1px
	margin: 1px
	width:;
}

.wrapper nav {
	background-color:;
	color: #000000;
	font-family: Roboto; sans-serif;
	font-size: 25px;
	font-weight: bolder;
	padding: 15px
;	text-transform: uppercase;
	border: double;
	margin:
	width:;
}

.wrapper nav a{
	color: #000000
}

.wrapper nav a:hover {
	background-color: rgb(116,155,204);
	color: #ffffff;
}

#slogan {
		background: rgb(116,155,204);
		color: #ffffff;
		font-family: Roboto; sans-serif;
		font-size: 30px;
		font-weight: bolder;
		text-transform: uppercase;
		border: none;
		width:; 15px; 
}

#one {
		background-color:rgb(116,155,204);
		border:solid;
		padding: 15px;
		margin: 10px;
}

#two {

}

p {
	font-family: Roboto; sans-serif;
	font-size: 20px;
}

ul {

}

li {
	font-family: Roboto; sans-serif;
	font-size: 18px;
}

img {

}




